@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   color: #fff;
   font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   word-spacing: 0.09em;
}

h1 {
   font-size: 65px;
}

h1.big {
   font-size: 80px;
   font-family: helvetica;
   color: #fff;
   margin: 0;
   padding: 0;
}

p {
   font-size: 16px;
}

/* Helpers */
.no-margin {
   margin: 0;
}
.uppercase {
   text-transform: uppercase !important;
}
.underline {
   text-decoration: underline;
}
.bold-weight {
   font-weight: bold !important;
}
.light-weight {
   font-weight: 300 !important;
}
.disabled {
   color: #ccc;
   text-align: center;
}


/*
 * Colors
 */

/* Purple */
.color-purple {
   color: #60359b;
}
.bg-purple-70 {
   background: rgba(96,53,155,0.7);
}
.bg-purple-96 {
   background: rgba(96,53,155,0.96);
}
.shadow-purple {
   text-shadow: 1px 1px 1px rgba(96,53,155,0.6);
}

/* Indigo */
.color-indigo {
   color: #3f51b5;
}
.bg-indigo-70 {
   background: rgba(63,81,181,0.7);
}
.bg-indigo-96 {
   background: rgba(63,81,181,0.96);
}
.shadow-indigo {
   text-shadow: 1px 1px 1px rgba(63,81,181,0.6);
}

/* BlueGrey */
.color-bluegrey {
   color: #102b3e;
}
.bg-bluegrey-70 {
   background: rgba(16,43,62,0.7);
}
.bg-bluegrey-96 {
   background: rgba(16,43,62,0.96);
}
.shadow-bluegrey {
   text-shadow: 1px 1px 1px rgba(16,43,62,0.6);
}


/*
 * Animations
 */
.animated {
   -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   -o-animation-fill-mode: both;
   animation-fill-mode: both;
}
.delay-1s {
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
/* ZoomIn */
@-webkit-keyframes zoomIn {
   0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
   }

   50% {
      opacity: 1;
   }
}
@-moz-keyframes zoomIn {
   0% {
      opacity: 0;
      -moz-transform: scale3d(.3,.3,.3);
      transform: scale3d(.3,.3,.3);
   }

   50% {
      opacity: 1;
   }
}
@-o-keyframes zoomIn {
   0% {
      opacity: 0;
      -o-transform: scale3d(.3,.3,.3);
      transform: scale3d(.3,.3,.3);
   }
   50% {
      opacity 1;
   }
}
@keyframes zoomIn {
   0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      -moz-transform: scale3d(.3,.3,.3);
      -ms-transform: scale3d(.3, .3, .3);
      -o-transform: scale3d(.3,.3,.3);
      transform: scale3d(.3, .3, .3);
   }

   50% {
      opacity: 1;
   }
}
.zoomIn {
   -webkit-animation-name: zoomIn;
   -moz-animation-name: zoomIn;
   -o-animation-name: zoomIn;
   animation-name: zoomIn;
}


/*
 * FillPage Sections
 */

.section {
   text-align: center;
}
#section0,
#section1,
#section2,
#section3 {
   background-size: cover;
}
#section0 {
   background-image: url(/img/event.jpg);
}
#section1 {
   background-color: #333;
   padding: 27% 0 0 0;
}
#section2 {
   background-color: #999;
   padding: 27% 0 0 0;
}
#section3 {
   background-color: #ddd;
   padding: 27% 0 0 0;
}


/*
 * Menu
 */

#menu li {
   display: inline-block;
   margin: 10px;
   color: #000;
   background: #fff;
   background: rgba(255,255,255, 0.5);
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#menu li.active {
   background: #666;
   background: rgba(0,0,0, 0.5);
   color: #fff;
}
#menu li a {
   text-decoration: none;
   color: #000;
}
#menu li.active a:hover {
   color: #000;
}
#menu li:hover {
   background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a {
   padding: 9px 18px;
   display: block;
}
#menu li.active a {
   color: #fff;
}
#menu {
   position: fixed;
   top: 0;
   left: 0;
   height: 40px;
   z-index: 70;
   width: 100%;
   padding: 0;
   margin: 0;
   font-size: 10px;
}


/*
 * Event overlay
 */

.overlay-block {
   position: absolute;
   width: 100%;
   bottom: 0;
   overflow: hidden;
   text-align: left;
}
.overlay-block .container {
   padding: 0;
}
.overlay-block .overlay-inner {
   position: relative;
}
.overlay-block .absolute-bottom {
   position: absolute;
   bottom: 15px;
}
.overlay-block h1 {
   margin-top: 38px;
   margin-left: 45px;
   font-weight: 400;
   font-size: 46px;
   position: relative;
   bottom: 0px;
}
.overlay-block h2 {
   margin-top: 0px;
   margin-left: 45px;
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 32px;
}
.overlay-block p.summary {
   font-family: Helvetica;
   margin: 25px 0 25px;
   letter-spacing: 1px;
   font-weight: 300;
}
.overlay-block span.author {
   font-family: Helvetica;
   margin: 0px 0 25px 38px;
   letter-spacing: 1px;
   font-weight: 300;
   font-size: 16px;
}
.overlay-block .datetime {
   text-align: center;
}


/*
 * Ribbon
 */

 .ribbon {
   background-color: #a00;
   overflow: hidden;
   white-space: nowrap;
   position: absolute;
   left: -60px; /* Corner + 10px in */
   top: 30px;
   -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
   -webkit-box-shadow: 0 0 10px #888;
      -moz-box-shadow: 0 0 10px #888;
           box-shadow: 0 0 10px #888;
 }
 .ribbon span {
   border: 1px solid #faa;
   color: #fff;
   display: block;
   font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 1px 0;
   padding: 10px 50px;
   text-align: center;
   text-decoration: none;
 }


/*
 * Timer
 */

.event-footer {
   margin: 30px 0 20px;
}
.countdown {
   float: left;
   margin-left: 45px;
}
.countdown h3 {
   font-weight: 300;
   margin-top: 35px;
}
.countdown p {
   font-weight: 300;
   font-size: 12px;
   margin-top: 40px;
}
.countdown .timer {
   font-size: 6.2em;
   font-weight: 300;
}
.countdown span {
   display: block;
   float: left;
   width: 25%;
   text-align: center;
   text-transform: uppercase;
   font-size: 1.25em;
   font-weight: bold;
}


/*
 * Forms
 */

form {
   padding-top: 20px;
}

.group { 
   position: relative; 
   margin-bottom: 30px; 
}

input {
   font-size: 18px;
   padding: 10px 10px 10px 5px;
   -webkit-appearance: none;
   display: block;
   background: none;
   color: #fff;
   width: 100%;
   /*border: 1px solid #fff;*/
   border: none;
   border-bottom: 1px solid #999;
   border-radius: 0;
   color: #fff;
   background: none;
   font-weight: 300;
}

input:focus {
   outline: none;
   border: none;
}

/* Label */

label {
   color: #c8c8c8; 
   font-size: 18px;
   font-weight: normal;
   position: absolute;
   pointer-events: none;
   left: 5px;
   top: 10px;
   transition: all 0.2s ease;
}

/* Active */

input:focus, input.used {
   /*border: 1px solid #aaa;*/
}

input:focus ~ label, input.used ~ label {
   top: -20px;
   transform: scale(.75);
   left: -2px;
   color: #8C9EFF;
   border: none;
}

/* Select */

.material-select:after {
   position: absolute;
   top: 0;
   width: 32px;
   text-align: center;
   right: 0px;
   font-size: 1.4em;
   line-height: 1;
   padding-top: 5px;
   background-image: url(/img/arrow-down-24.png);
}

select {
   width: 100%;
   background: transparent;
   background-image: none;
   -webkit-appearance: none;
   font-size: 18px;  
   padding: 10px 10px 10px 5px;
   /*border: 1px solid #fff;*/
   border: none;
   border-radius: 0;
   border-bottom: 1px solid #999;
   font-weight: 300;
}

select:focus {
   outline: none;
   border: none;
}

/* Active */

select:focus, select.used {
   /*border: 1px solid #aaa;*/
}

select:focus ~ label, select.used ~ label {
   top: -20px;
   transform: scale(.75);
   left: -9px;
   color: #8C9EFF;
   border: none;
}

/* Underline */

.bar {
   position: relative;
   display: block;
   width: 100%;
}
.bar:before, .bar:after {
   content: '';
   height: 2px; 
   width: 0;
   bottom: 1px; 
   position: absolute;
   background: #8C9EFF;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
}
.bar:before {
   left: 50%;
}
.bar:after {
   right: 50%;
}


/* Active */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
   width: 50%;
}

/* Highlight */

.highlight {
   position: absolute;
   height: 60%; 
   width: 100px; 
   top: 25%; 
   left: 0;
   pointer-events: none;
   opacity: 0.5;
}

/* Active */

input:focus ~ .highlight {
   animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter {
   from {
      /*background: #4a89dc;*/
      background: #f70a0a;
   }
   to {
      width: 0; background: transparent;
   }
}


/* Button */

.button {
   position: relative;
   display: inline-block;
   padding: 13px 24px;
   margin: 0;
   width: 100%;
   vertical-align: middle;
   color: #fff;
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   text-align: center;
   letter-spacing: 1px;
   background: transparent;
   border: 0;
   border-bottom: 2px solid #3160B6;
   cursor: pointer;
   transition: all 0.15s ease;
}
.button:focus {
   outline: 0;
}

/* Button modifiers */

.buttonBlue {
   background: #536DFE;
   text-shadow: 2px 2px 0 rgba(140, 158, 255, .5);
}

.buttonBlue:hover {
   background: #3D5AFE;
}


/* Ripples container */

.ripples {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: transparent;
}


/* Ripples circle */

.ripplesCircle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   width: 0;
   height: 0;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
   animation: ripples .4s ease-in;
}

/* Ripples animation */

@keyframes ripples {
   0% {
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
   }
}

